<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="navbar">
        <h1>Web Chat <h2>Made by Prayas :)</h2></h1>
    </div>
    
    <div id="hero">

    </div>

    <div class="send">
        <input id="inputMessage" type="text">
        <button id="sendMessage">Send</button>
    </div>
    <!-- <script src="../public/js/script.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>
</html>